<form (ngSubmit)="checkUsername()" [formGroup]="loginForm">
  <div class="container">
    <div class="col-md-5">
      <h1 class="h3 mb-3 fw-normal">ورود اطلاعات</h1>
      <br>
      <div class="form-floating">
        <input formControlName="userName" class="form-control" placeholder="UserName" type="text">
        <label>نام کاربری</label>
      </div>
      <br>
      {{loginForm.value | json}}
      <button class="btn btn-primary w-100 py-2" type="submit">ورود</button>
    </div>
  </div>
</form>

