<div class="card">
  <div class="card-header">
  {{item?.title}}
  </div>
  <div class="card-body">
    <ng-container *ngIf="item">
      <blockquote class="blockquote mb-0">
        <img src="{{item.image}}" class="img-thumbnail m-3 rounded-start" style="max-width:400px">

        <h5 class="card-title ps-3" >{{item.title}}</h5>
        <p class="card-text"> {{item.content}}</p>
        <br/>
        <footer class="blockquote-footer"><cite title="Source Title">Last updated {{item.createdAt}}</cite></footer>
      </blockquote>
    </ng-container>
    <ng-container *ngIf="!item">
      Loading ...
    </ng-container>

  </div>
</div>
