<form (ngSubmit)="onSubmit()" [formGroup]="bookForm" class="row g-3 container">
  <div class="col-md-6">
    <label class="form-label">نام کتاب</label>
    <input class="form-control" formControlName="title" type="text">
  </div>
  <div class="col-md-3">
    <label class="form-label">نام نویسنده</label>
    <input class="form-control" formControlName="author" type="text">
  </div>
  <div class="col-3">
    <label class="form-label">قیمت</label>
    <input class="form-control" formControlName="price" type="number">
  </div>
  <div class="col-12">
    <label class="form-label">توضیحات </label>
    <textarea class="form-control" formControlName="description" type="text"></textarea>
  </div>
  <div class="col-md-6">
    <label class="form-label">عکس</label>
    <input class="form-control" type="text">
  </div>
  <div class="col-12">
    <button [disabled]="bookForm.invalid" class="btn btn-primary" type="submit">ذخیره</button>
  </div>
</form>
