<div class="card text-center">
  <div class="card-header">
    سبد خرید
  </div>
  <div class="card-body">
    <ng-container *ngIf="(basketItems$ | async)?.length">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">تصویر</th>
          <th scope="col">شماره کتاب</th>
          <th scope="col">نام کتاب</th>
          <th scope="col">قیمت واحد</th>
          <th scope="col">تعداد</th>
          <th scope="col">قیمت</th>
          <th scope="col">تنظیمات</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let basketItem of basketItems$ | async; index as i  ">
          <th scope="row"> {{i + 1}} </th>
          <th><img alt="" class="img-thumbnail" src="{{basketItem.book.image}}" style="height: 70px"></th>
          <td>{{basketItem.book.id}}</td>
          <td>{{basketItem.book.title}}</td>
          <td>{{basketItem.book.price}}</td>
          <td>{{basketItem.count}}</td>
          <td>{{basketItem.book.price * basketItem.count}} </td>
          <td>
            <button (click)="delete(basketItem.bookId)" class="btn btn-danger btn-sm" type="button">حذف</button>
            <button (click)="deleteBook(basketItem.bookId)" class="btn btn-primary btn-sm ms-3" type="button">-</button>
            <button (click)="addBook(basketItem.bookId)" class="btn btn-primary btn-sm ms-3" type="button">+</button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>


    <ng-container *ngIf="!(basketItems$ | async)?.length">
      سبد خرید خالی است!
    </ng-container>
  </div>
</div>
