<p>cart-page works!</p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">شماره کتاب</th>
    <th scope="col">تعداد</th>
    <th scope="col">تنظیمات</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let line of lines; index as i ">
    <th scope="row"> {{i+1}} </th>
    <td>{{line.bookId}}</td>
    <td>{{line.count}}</td>
    <td> <button  class="btn btn-danger btn-sm" type="button" (click)="delete(line.bookId)">حذف</button></td>

  </tr>
  <tr>
    <th scope="row" ></th>
    <td colspan="2">مجموع قیمت</td>

  </tr>

<!--  <ng-container *ngIf="!item">-->
<!--    Loading ...-->
<!--  </ng-container>-->
  </tbody>
</table>
