<br/>

<div class="card-body">
  <ng-container *ngIf="item">
    <div class="row g-0">
      <div class="col-md-4">
        <blockquote class="blockquote mb-0 ">
          <img class="img-thumbnail m-3 rounded-start" src="{{item.image}}" style="max-width:200px"></blockquote>
      </div>

      <div class="col-md-7">
        <br/>
        <br/>
        <h5 class="card-title ps-3">{{item.title}}</h5>
        <br/>
        <p class="card-text"> {{item.description}}</p>
        <p class="card-text">قیمت: {{item.price}} تومان</p>
        <br/>
        <footer class="blockquote-footer"><cite title="Source Title">نویسنده: {{item.author}} </cite></footer>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!item">
    صفحه مورد نظر پیدا نشد!
  </ng-container>


</div>
