<div class="row">
  <div class="col-3">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" height="32" width="40"></svg>
        <span class="fs-4">مدیر سیستم</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a [routerLink]="['/panel/new']" aria-current="page" class="nav-link link-body-emphasis" >
            <svg class="bi pe-none me-2" height="16" width="16">
            </svg>
            اضافه نمودن
          </a>
        </li>
        <li>
          <a  [routerLink]="['/panel/books']" class="nav-link link-body-emphasis" href="#">
            <svg class="bi pe-none me-2" height="16" width="16">
              <!--          <use xlink:href="#speedometer2"></use>-->
            </svg>
            لیست کتابها
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a aria-expanded="false" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" href="#">
          <img alt="" class="rounded-circle me-2" height="32" src="https://avatars.githubusercontent.com/u/87188820?v=4" width="32">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" style="">
          <li><a class="dropdown-item" href="#">اضافه کردن کتاب</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-9">
    <router-outlet/>
  </div>
</div>
